.Hero {
    color: rgb(142, 127, 101);
    background-color: rgb(105, 105, 229);
    background-image: url(./../../images/hero.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.Hero h1{
    font-size: 5rem;
    letter-spacing: -4.8px;
}

.Hero p {
    margin-top: -2.4rem;
    font-size: 1.6rem;
    text-align: center;
}

