.Workspace {
    color: white;
    width: 95vw;
    height: 92vh;
    margin: 5rem auto;
    border-radius: 20px;
    background-color: rgb(105, 105, 229);
    background-image: url('./../../images/levelup.avif');
    background-repeat: no-repeat;
    background-size: auto;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.Workspace h1{
    font-size: 3rem;
}

.Workspace p {
    margin-top: -1rem;
    font-size: 1.4rem;
    text-align: center;
}

button {
    border: none;
    background-color: rgb(43, 56, 241);
    color: white;
    
}