.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 60vw;
}

.nav-items{
  display: flex;
}

.nav-items li {
  list-style-type: none;
  margin: 20px;
}

.App-header {
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:rgb(37, 225, 225);
}

.App-link {
  color: #61dafb;
}

